server:
   port: 8090

spring:
  profiles:
      active: dev
  application:
      name: EmailVerificationApp
  mail:
      host: smtp.gmail.com
      port: 587
      username: ${email}
      password: ${password}
      properties:
        mail:          
          smtp:  
            auth: true
            starttls:
              enable: true
              required: true
            connectiontimeout: 5000
            timeout: 3000
            writetimeout: 5000
               
secrets:
    name: Buscar-Catch-A-Ride
    baseUrl: http://localhost:8090/api/v1/validate